<nav class="navbar navbar-expand-lg navbar-light bg-blue">
 <a style="color: white" class="navbar-brand" routerLink="lembrete">{{ title }}</a>
  <!--a
    style="color: white"
    class="navbar-brand"
    routerLink="cadastro"
    routerLinkActive="active"
    >Cadastro</a
-->
  <hr />
  <span mat-button *ngIf="isAuthenticated">
    Você está logado como: {{ nome }}
  </span>
  <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</nav>
<router-outlet></router-outlet>
<app-error-msg></app-error-msg>
